.headingOne {

  font-weight: 600;
  font-size: 6.4rem;
  line-height: 8rem;

  letter-spacing: -0.02em;
}

.headingTwo {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.6rem;

  letter-spacing: -0.02em;

}

.headingThree {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.0rem;

  letter-spacing: -0.02em;
}

.headingFour {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;

  letter-spacing: -0.015em;
}

.headingFive {
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;

  letter-spacing: -0.015em;

}

.headingSix {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;

  letter-spacing: -0.015em;
}

.bodyLarge {
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 3.2rem;

}

.bodyRegular {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;

}

.bodySmall {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

}

.bodyExtraSmall {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;

}

.caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

}

.overlineRegular {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.04em;
}

.overlineSmall {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.04em;

}

.linkRegular {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: 0.04em;
}

.linkSmall {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.02em;

}

.linkExtraSmall {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  
  letter-spacing: 0.02em;


}